---
import Content from '@components/content.astro';
import Head from '@components/head.astro';
import Header from '@components/header.astro';
import Search from '@components/search.astro';

import '../styles/global.scss';
---

<html lang="en">

<Head />

<body>
	<main>
		<Header />
		<Search />
		<Content />
	</main>
</body>

</html>
