---
import Section from '@components/section.astro';

export interface Props {
  title: string;
  sections: any;
}
const { title, sections } = Astro.props;
---

<div class="card">
  <h2>{title}</h2>
  {sections.map((section) => (
    // well this is certainly a little janky
    <Section subtitle={section[0]} section={section[1]} />
  ))}
</div>

<style lang="scss">
  .card {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background-color: var(--white);
    padding: 24px;
    box-shadow: var(--carddrop);
  }
</style>
