---
---

<div>
  <form action="https://www.google.com/search" method="get">
    <input type="text" name="q" id="search-query" placeholder="What do you want to discover today?"
      autocapitalize="off" autocomplete="off">
  </form>
</div>

<style lang="scss">
  div {
    background: var(--white);
  }

  input {
    width: 100%;
    background: var(--white);
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 12px 24px;
    border: none;
    outline: none;
  }
</style>
